<!-- Content Wrapper. Contains page content -->
<style>
    table {
        table-layout:fixed
    }

    table td {
        white-space: normal;
        word-wrap:break-word;
        word-break:break-all;
    }
</style>

<div id="inner-container">
    <div class="row">
        <select class="form-control" id="datasources" onchange="getTablesBySource(this)"></select>
    </div>
    <div class="row">
        <select class="form-control" id="tables" onchange="getDataFromSelect(this)"></select>
    </div>
    <form>
        <div id="conditions" class="row">
            <div class="form-inline condition-info">
                <div class="form-group col-lg-4">
                    选择列:<select class="form-control" id="columns" style="width:80%"></select>
                </div>
                <div class="form-group col-lg-4">值:<input/></div>
                <div class="form-group col-lg-4">
                    <button class="btn">+</button>
                    <button class="btn">-</button>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-info" onclick="searchByConditions(this)">查询</button>
        </div>
    </form>
    <div class="row">
        <table class="table table-striped table-bordered table-hover" id="dataList">

            <!-- On rows -->
            <!--<tr class="active">-->
            <!--<td class="active">...</td>-->
            <!--<td class="success">...</td>-->
            <!--<td class="warning">...</td>-->
            <!--<td class="danger">...</td>-->
            <!--<td class="info">...</td>-->
            <!--</tr>-->

        </table>
        <ul class="pagination">
            <!--<li><a href="#">&laquo;</a></li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li><a href="#">&raquo;</a></li>-->
        </ul>
    </div>
</div>

</div>
