<!-- Content Wrapper. Contains page content -->

<!--<script language="JavaScript" src="/plugins/jQuery/jquery-2.2.3.min.js">-->
<!--</script>-->
<script language="JavaScript" src="/plugins/datatables/jquery.dataTables.js"></script>
<!--<script language="JavaScript" src="/plugins/select2/select2.full.js"></script>-->
<script>
    $(function () {
        /*$.ajax({
            url: "/datamanager/getTablesBySource.do",
            data: {datasourceId: 1},
            success: function () {
                alert();
            }
        })*/

       // $("#tables").select2();

        // $.ajax({
        //     url: "",
        //     data: {datasourceId: 1, table: "job"},
        //     success: function () {
        //         alert();
        //     }
        // })

        $('#sample_1').dataTable({
            "aoColumns": [
                {
                    "mData": "ip", "fnRender": function (obj) {
                        return '<input  class="group-checkable checkboxes"  value=" '+ obj.aData['ip'] + '" type="checkbox" />';
                    }
                },
                {"mData": 'ips'},
                {"mData": 'name'},
                {"mData": 'type'},
                {"mData": 'bizsys'},
                {"mData": 'admin'}
            ],
            "aLengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "所有"] // change per page values here
            ],
            "destroy": true,//如果需要重新加载的时候请加上这个
            // set the initial value
            "iDisplayLength": 5,
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }
            ],
            "bServerSide": true,//设置服务器分页
            "bProcessing": true,//设置正在加载···
            "sAjaxSource": "/datamanager/getDataByTable.do",
            "bPaginage": true
            , "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "type": 'post',
                    "url": sSource,
                    "dataType": "json",
                    "data": {
                        aoData: JSON.stringify(aoData)
                    },
                    "success": function (resp) {
                        fnCallback(resp);
                    }
                });

            }


        });
    })
</script>
<div id="inner-container">
    <div class="row">
        <select id="tables">

        </select>
    </div>
    <div class="row">

        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
            <tr>
                <th style="width:8px;"><input type="checkbox"
                                              class="group-checkable"
                                              data-set="#sample_1 .checkboxes"/>
                </th>

                <th>IP</th>
                <th>主机名</th>
                <th>类型</th>
                <th>业务系统</th>
                <th>管理员</th>
            </tr>
            </thead>
            <tbody></tbody>

        </table>

        <table>
            <!-- On rows -->
            <tr class="active">
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            <tr class="success">
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            <tr class="warning">
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            <tr class="danger">
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            <tr class="info">
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
            <tr>
                <td class="active">...</td>
                <td class="success">...</td>
                <td class="warning">...</td>
                <td class="danger">...</td>
                <td class="info">...</td>
            </tr>
        </table>
    </div>
</div>

</div>
